.nav-list {
  display: flex;
  justify-content: left;
  list-style-type: none;
}

header {
  padding: 30px 25px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #21222a;
  height: 60px;
}

.nav-list-item {
  margin-left: 10px;
  font-size: 1.1rem;
}

* {
  font-family: 'Montserrat', sans-serif;
}

header > img {
  width: 40px;
}

body {
  margin: 0;
  background-color: #282d35;
  color: #fff;
}

header > span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
}

main {
  padding: 60px 30px;
  background-image: url(/src/assets/react.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right 70%;
}

main > h1 {
  margin: 0;
  font-size: 2.4rem;
}

main > h2 {
  margin: 0;
  font-size: 1.8rem;
}

.facts-list {
  margin-top: 40px;
  max-width: 400px;
}

.facts-list > li {
  padding-block: 10px;
  line-height: 19px;
}

.facts-list > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

